<ol>
  <li>
    <em>Advances in the quantum-state texture theory</em><br>
    <strong>Jose Alfredo de Leon</strong>, Miguel Gonzalez, Alejandro Fonseca, Pedro C. Azado, Fernando Parisio<br>
    [<a href="https://arxiv.org/abs/2609.17704">arXiv:2609.17704</a>]
  </li>
  <li>
    <em>The Geometry of Transport in Quantum Walks and Parrondo's Paradox</em><br>
    <strong>Jose Alfredo de Leon</strong>, Mariana Pérez-Muralles, Jan Neuser, Carlos Pineda<br>
    [<a href="https://arxiv.org/abs/2609.09269">arXiv:2609.09269</a>]
  </li>
  <li>
    <em>Dynamical irreversibility and local decoherence in quantum many-body chaos</em><br>
    <strong>Jose Alfredo de Leon</strong>, Miguel Gonzalez, Carlos Diaz-Mejia<br>
    [<a href="https://doi.org/10.1103/zdjp-1rck">Phys. Rev. A 113, 062224 (2026)</a>]
    [<a href="https://arxiv.org/abs/2512.11030">arXiv:2512.11030</a>]
  </li>
  <li>
    <em>Weyl channels for multipartite systems</em><br>
    Tomás Basile, <strong>Jose Alfredo de Leon</strong> (co-first author), Alejandro Fonseca, François Leyvraz, Carlos Pineda<br>
    [<a href="https://doi.org/10.1103/PhysRevA.109.032607">Phys. Rev. A 109, 032607 (2024)</a>]
    [<a href="https://arxiv.org/abs/2310.10947">arXiv:2310.10947</a>]
  </li>
  <li>
    <em>Pauli component erasing quantum channels</em><br>
    <strong>Jose Alfredo de Leon</strong>, Alejandro Fonseca, François Leyvraz, David Davalos, Carlos Pineda<br>
    [<a href="https://doi.org/10.1103/PhysRevA.106.042604">Phys. Rev. A 106, 042604 (2022)</a>]
    [<a href="https://arxiv.org/abs/2205.05808">arXiv:2205.05808</a>]
  </li>
</ol>
